<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>

<body>

<div th:fragment="sidebar">

        <ul class="nav-links">
            <li>
                <a th:href="@{/portal}">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Начало</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" th:href="@{/portal}">Начало</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a th:href="@{/portal/trips}">
                        <i class='bx bx-trip'></i>
                        <span class="link_name">Пътувания</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" th:href="@{/portal/trips}">Пътувания</a></li>
                    <li><a th:href="@{/portal/trips/create}" sec:authorize="hasRole('TRIP_ADMIN')">Създай пътуване</a></li>
                    <li><a th:href="@{/portal/vehicles/all}" sec:authorize="hasRole('TRIP_ADMIN')">Коли</a></li>
                    <li><a th:href="@{/portal/towns/all}" sec:authorize="hasRole('TRIP_ADMIN')">Градове</a></li>
                    <li><a th:href="@{/portal/countries/all}" sec:authorize="hasRole('TRIP_ADMIN')">Държави</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a th:href="@{/portal/products}">
                        <i class='bx bxs-t-shirt'></i>
                        <span class="link_name">Артикули</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" th:href="@{/portal/products}">Артикули</a></li>
                    <li><a href="#">Моите поръчки</a></li>
                    <li><a th:href="@{/portal/products/create}" sec:authorize="hasRole('MERCH_ADMIN')">Добави продукт</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-money'></i>
                    <span class="link_name">Членски внос</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Членски внос</a></li>
                </ul>
            </li>
            <li>
                <div class="iocn-link">
                    <a th:href="@{/portal/profiles/settings}">
                        <i class='bx bx-cog'></i>
                        <span class="link_name">Настройки</span>
                    </a>
                    <i class='bx bxs-chevron-down arrow'></i>
                </div>
                <ul class="sub-menu">
                    <li><a class="link_name" th:href="@{/portal/profiles/settings}">Профил</a></li>
                    <li><a th:href="@{/portal/settings/users}" sec:authorize="hasRole('ADMIN')">Потребители</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="profileImg">
                    </div>
                    <div class="name-job">
                        <div class="profile_name" sec:authentication="name">Prem Shahi</div>
                    </div>
                    <i class='bx bx-log-out' ></i>
                </div>
            </li>
        </ul>


</div>

</body>
</html>