<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/portal-home.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


<nav class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-football'></i>
        <span class="logo_name">КСФ</span>
    </div>
    <div th:replace="fragments/commons :: sidebar">
        Sidebar
    </div>
</nav>

<section class="home-section">
    <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">Винаги верни на ЦСКА</span>
    </div>
    <div id="main-content">
        <section class="card">
            <div class="card-header">
                <strong>Градове</strong>
            </div>
            <div class="card-body card-block">
                <form th:action="@{/portal/countries/create}"
                      th:method="POST"
                      th:object="${countryCreateBindingModel}"
                      class="form__group">
                    <div>
                        <div>
                            <label for="name" class="form__label">Име</label>
                            <input th:field="*{name}" type="text" class="form__input" id="name" placeholder="Име" required="" />
                        </div>
                    </div>
                    <button type="submit">Създай</button>
                </form>
            </div>
        </section>
        <section class="card">
            <div class="card-header">
                <strong>Всички коли</strong>
            </div>
            <div class="card-body card-block">
                <div class="container table-wrapper">
                    <ul class="responsive-table table-scroll">
                        <li class="table-header">
                            <div class="col col-1">Име</div>
                        </li>
                        <li th:each="c : ${countries}" class="table-row">
                            <div class="col col-1" data-label="Name" th:text="*{c.name}"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                <a th:if="${countries.hasPrevious()}" th:href="@{'/portal/countries/all/?pageNo=' + ${countries.getPageable().getPageNumber() - 1}}">Предишна</a>
                <span th:text="|стр. ${countries.getNumber() + 1} от ${countries.getTotalPages()}|"></span>
                <a th:if="${countries.hasNext()}" th:href="@{'/portal/countries/all?pageNo=' + ${countries.getPageable().getPageNumber() + 1}}">Следваща</a>
            </div>
        </section>
    </div>
</section>

<script>
    let arrow = document.querySelectorAll(".arrow");
    for (let i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });

</script>

</body>
</html>