<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/portal-home.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


<nav class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-football'></i>
        <span class="logo_name">КСФ</span>
    </div>
    <div th:replace="fragments/commons :: sidebar">
        Sidebar
    </div>
</nav>

<section class="home-section">
    <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">Винаги верни на ЦСКА</span>
    </div>
    <div id="main-content home-cards">
            <div class="card">
                <div class="card-header">
                    <strong>Предстоящи пътувания</strong>
                </div>
                <div class="card-body card-block">
                    <div class="container table-wrapper">
                        <ul class="responsive-table table-scroll">
                            <li class="table-header">
                                <div class="col col-1">До</div>
                                <div class="col col-2">Име</div>
                            </li>
                            <li th:each="t : ${upcomingTrips}" class="table-row">
                                <div class="col col-1" data-label="Description" th:text="*{t.destinationTown.name}"></div>
                                <div class="col col-2" data-label="Make" th:text="*{t.name}"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        <div class="card">
                    <div class="card-header">
                        <strong>Моите поръчки</strong>
                    </div>
                    <div class="card-body card-block">
                        <div class="container table-wrapper">
                            <ul class="responsive-table table-scroll">
                                <li class="table-header">
                                    <div class="col col-1">Продукт</div>
                                    <div class="col col-2">Цена</div>
                                </li>
                                <li th:each="p : ${myProducts}" class="table-row">
                                    <div class="col col-1" data-label="Description" th:text="*{p.name}"></div>
                                    <div class="col col-2" data-label="Make" th:text="*{p.price}"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

    </div>
</section>
<script>
    let arrow = document.querySelectorAll(".arrow");
    for (let i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    console.log(sidebarBtn);
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });


</script>
</main>
</body>

</html>