<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/portal-home.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


<nav class="sidebar close">
    <div class="logo-details">
        <i class='bx bx-football'></i>
        <span class="logo_name">КСФ</span>
    </div>
    <div th:replace="fragments/commons :: sidebar">
        Sidebar
    </div>
</nav>

<section class="home-section">
    <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">Винаги верни на ЦСКА</span>
    </div>
    <div id="main-content">
        <section class="trips">
            <div class="card-header">
                <strong>Потребители</strong>
            </div>
            <div class="card-body card-block">
                <div class="container table-wrapper">
                    <ul class="responsive-table table-scroll">
                        <li class="table-header">
                            <div class="col col-1">Потребител</div>
                            <div class="col col-2">Прякор</div>
                            <div class="col col-3">Група</div>

                        </li>
                        <li th:each="u : ${users}" th:id="*{u.id}" class="table-row">
                            <div class="col col-1" data-label="Description" th:text="*{u.username}"></div>
                            <div class="col col-2" data-label="StartTime" th:text="*{u.nickname}"></div>
                            <div class="col col-3" data-label="Passengers" th:text="*{u.groupName.name}"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </div>
</section>
<script>
    let arrow = document.querySelectorAll(".arrow");
    for (let i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e)=>{
            let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
            arrowParent.classList.toggle("showMenu");
        });
    }
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".bx-menu");
    sidebarBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("close");
    });

    document.querySelectorAll(".table-row").forEach(el => {
        el.addEventListener("click", (ev) => {
            const id = ev.target.id;
            window.location.replace("http://localhost:8080/portal/settings/users/details/" + id);
        })
    });



</script>
</main>

</body>
</html>